# Data Types

In [ ]:
type(-23 + 45)

In [ ]:
type(12 + 34.56)

In [ ]:
type(83 + 6j) # 'j' is used as an imaginary number

In [ ]:
type(True)

In [ ]:
type(1 > 5)

In [ ]:
1 > 5

In [ ]:
1 == 1

In [ ]:
'Single Quote'

In [ ]:
"Double Quote"

In [ ]:
multiline = """
The Peanut butter vanquished 
my craving for tea time, 
upon on this diet I look away, 
it no longer exist on this day.
"""
print(multiline)

In [ ]:
type(multiline)

**Indexing on String**

In [ ]:
a = "Hello World!"
print(a)
print(a[:5]) # :5 Means 0 to 5
print(a[2:7])
print(a[-3])
print(a[6])
print(a * 3)
print(a + a)

**List**

In [ ]:
[1, 2, 3] # List is also indexed like a string is indexed

In [ ]:
# If we have to create a list and add string values we have to do it with quotes 
['Vanilla', 'Strawberry']

In [ ]:
['Vanilla', 3, ['Strawberry', 'Chocolate'], True]

In [ ]:
# we can add, change and modify items from the list
flavours = ['Vanilla', 'Strawberry', 'Chocolate']
flavours.append('Pineapple') # adding new value to the list 
print(flavours)
flavours[0] = 'Mango' # Replacing the value at index 0 with new one 
print(flavours)

In [ ]:
nested_list = ['Vanilla', 3, ['Strawberry', 'Chocolate'], True]
print(nested_list[0])
print(nested_list[1])
print(nested_list[2])
print(nested_list[2][1])

**Tuple**

In [ ]:
# The difference between tuple and list is that tuple can't be modified when its created. It is indexed.
tuple_scoops = (1, 2, 3, 2, 1)
type(tuple_scoops) # Checking the datatype

In [ ]:
print(tuple_scoops[0])

**Sets**

In [ ]:
# Sets is somewhat similar to list and tuple but the difference is that it don't have any duplicate elements
# The values within the Sets cannot be accessed with a index, because it doesn't have any index as it is unordered
post_box = {1, 2, 3}
type(post_box)

In [ ]:
log = {1, 2, 35, 53, 6, 7, 2, 1, 53, 79, 23, 45, 56, 1, 6, 6, 2} # It doesn't show the duplicate values but unque ones only
print(log)

In [ ]:
numbers = {1, 24, 5, 3, 6, 7, 2, 11, 93, 70, 23, 45, 56, 1, 6, 6, 2}
print(numbers)

In [ ]:
print(log | numbers) # Shows the numbers in both sets removing the duplicates on the both sets

In [ ]:
print(log & numbers) # Shows the matching ones in both sets

In [ ]:
print(log - numbers) # Shows the ones which doesn't match in both sets
print(numbers - log) # Shows the ones which doesn't match in both sets

In [ ]:
print(log ^ numbers) # It shows unique ones in both

**Dictionaries**

In [ ]:
# It has a key value pair
dict_icecream = {'name': 'Renato fernandes', 'monthly intake': 5, 'favourate': ['strawberry', 'chocolate', 'vanilla']}
type(dict_icecream)

In [ ]:
print(dict_icecream)

In [ ]:
dict_icecream.values()

In [ ]:
dict_icecream.keys()

In [ ]:
dict_icecream.items()

In [ ]:
dict_icecream['name']

In [ ]:
dict_icecream['name'] = 'Anna fernanades' # We can also update the values in the dictionaries

In [ ]:
print(dict_icecream)

In [ ]:
# We can update all the things in one go 
# if we update the keys it donot replace but add the new ones with old ones too.
# If we update the values it will replace
dict_icecream.update({'name': 'David fernanades', 'weekly intake': 3, 'favourate': ['strawberry', 'chocolate', 'vanilla', 'pineapple', 'Mango']})
print(dict_icecream)

In [ ]:
del dict_icecream['weekly intake'] # Delete 
print(dict_icecream)