# Exploratory Data Analysis

In [ ]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
df_wp = pd.read_csv(r"C:\Users\hp\Downloads\world_population.csv")
df_wp

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x) # to change the decimal point values
df_wp

In [ ]:
df_wp.info()

In [ ]:
df_wp.describe()

In [ ]:
df_wp.isnull().sum()

In [ ]:
df_wp.nunique()

In [ ]:
df_wp.sort_values(by = "2022 Population", ascending = False).head(10)

In [ ]:
df_wp.corr()

In [ ]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
# Step 1: Handle non-numeric values in the DataFrame
# For example, you can drop non-numeric columns or convert them to numeric values
# Replace 'column_name' with the actual column causing the issue
df_wp_numeric = df_wp.select_dtypes(include=[np.number])

# Step 2: Create the heatmap
sns.heatmap(df_wp_numeric.corr(), annot=True)
plt.rcParams['figure.figsize'] = (20, 7)
plt.show()

In [ ]:
df_wp.groupby('Continent').mean()

In [ ]:
df_wp[df_wp['Continent'].str.contains('Oceania')] # To find out what actually the Oceania means

In [ ]:
# df_wp1 = df_wp.groupby('Continent').mean().sort_values(by = "2022 Population", ascending = False)
df_wp1 = df_wp.groupby('Continent')[df_wp.columns[5:13]].mean().sort_values(by = "2022 Population", ascending = False) # Or
#df_wp1 = df_wp.groupby('Continent')[['2022 Population',
       #'2020 Population', '2015 Population', '2010 Population',
       #'2000 Population', '1990 Population', '1980 Population',
       #'1970 Population']].mean().sort_values(by = "2022 Population", ascending = False)
df_wp1

In [ ]:
df_wp.columns

In [ ]:
df_wp1.plot()

In [ ]:
df_wp2 = df_wp1.transpose() # To change the values in the x and y axis vice versa
df_wp2

In [ ]:
df_wp2.plot()

In [ ]:
# The image above needed to be reversed
df_wp3 = df_wp.groupby('Continent')[df_wp.columns[5:13][::-1]].mean().sort_values(by = "2022 Population", ascending = False)
df_wp3

In [ ]:
df_wp4 = df_wp3.transpose() # To change the values in the x and y axis vice versa
df_wp4

In [ ]:
plt.style.use('fivethirtyeight')
df_wp4.plot()

In [ ]:
df_wp.boxplot(figsize = (25, 5))

In [ ]:
df_wp.dtypes

In [ ]:
df_wp.select_dtypes(include = 'number')