# Data Cleaning

In [ ]:
import pandas as pd 
df_ex = pd.read_excel(r"C:\Users\hp\Downloads\Customer Call List.xlsx")
df_ex

In [ ]:
df_ex = df_ex.drop_duplicates()
df_ex

In [ ]:
df_ex.drop(columns = "Not_Useful_Column")
df_ex

In [ ]:
# Use 'lstrip' and 'rstrip' conveniently
# We don't want to save this to the dataframe so instead we save on its own
df_ex["Last_Name"] = df_ex["Last_Name"].str.lstrip("...")
df_ex["Last_Name"] = df_ex["Last_Name"].str.lstrip("/")
df_ex["Last_Name"] = df_ex["Last_Name"].str.rstrip("_")
# We can do this in single strip, 
# df_ex["Last_Name"] = df_ex["Last_Name"].str.strip("123._/")
df_ex

In [ ]:
# Taking those and replacing with nothing
df_ex["Phone_Number"] = df_ex["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex=True)
df_ex

In [ ]:
# If we try to separate give the hyphen it will give error, need to change to string because its a number
# df_ex["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x [6:10])
# Actually the phone number is in float but we need to change this to string 
df_ex["Phone_Number"] = df_ex["Phone_Number"].apply(lambda x: str(x)) # It will apply to each value instead of converting the whole column to string

In [ ]:
df_ex["Phone_Number"] = df_ex["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x [6:10])
df_ex

In [ ]:
df_ex["Phone_Number"] = df_ex["Phone_Number"].str.replace('nan--', '')
df_ex["Phone_Number"] = df_ex["Phone_Number"].str.replace('Na--', '')
df_ex

In [ ]:
df_ex[["Street Address", "State", "Zip_Code"]] = df_ex["Address"].str.split(',', n=2, expand=True)
df_ex

In [ ]:
df_ex["Paying Customer"] = df_ex["Paying Customer"].str.replace('Yes', 'Y')
df_ex["Paying Customer"] = df_ex["Paying Customer"].str.replace('No', 'N')
df_ex

In [ ]:
df_ex["Do_Not_Contact"] = df_ex["Do_Not_Contact"].str.replace('Yes', 'Y')
df_ex["Do_Not_Contact"] = df_ex["Do_Not_Contact"].str.replace('No', 'N')
df_ex

In [ ]:
# df_ex = df_ex.replace('N/a', '')
# df_ex = df_ex.replace('NaN', '')
# df_ex
# The above code doesn't work and all the cells which contians no values can be removed by one code
df_ex = df_ex.fillna('')
df_ex

In [ ]:
for x in df_ex.index:
    if df_ex.loc[x, "Do_Not_Contact"] == 'Y':
        df_ex.drop(x, inplace = True)
df_ex

In [ ]:
for x in df_ex.index:
    if df_ex.loc[x, "Phone_Number"] == '':
        df_ex.drop(x, inplace = True)
df_ex
# df_ex = df_ex.dropna(subset = "Phone_Number"), inplace = True

In [ ]:
df_ex.reset_index(drop = True) # It will remove the earlier index and set a new index